@import './styles/animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.page.DEFAULT');
    @apply text-secondary font-sans;
  }
}

/* Custom Leaflet Marker Reset */
.custom-leaflet-icon {
  background: transparent !important;
  border: none !important;
}

/* Custom Cluster Styles */
.marker-cluster-custom {
  background: #0f766e;
  /* Teal-700 */
  border: 4px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.marker-cluster-custom:hover {
  transform: scale(1.1);
  background: #0d9488;
  /* Teal-600 */
}

/* Animation pour les marqueurs */
@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
    opacity: 1;
  }

  80%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.marker-pulse {
  position: relative;
}

.marker-pulse::before {
  content: '';
  position: absolute;
  left: -10px;
  top: -10px;
  /* Ajuster selon taille */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: inherit;
  /* Prend la couleur du parent */
  opacity: 0.6;
  animation: pulse-ring 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}